{% extends "authenicate\base.html" %}
{% block content %}
<h1>Communication Station</h1>
<br>
<h2>Change Password Page</h2>

<div class="col-md-6 offset-md-3"></div>
<form method="POST" action="{% url 'change_password' %}">

    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <button class='close' data-dimiss='alert'>
            <small> <sup>x</sup></small>
        </button>
     <p>Your profile has not been updated. Please try again.</p>
    {% endif %}

    {{form.as_p}}
    
    <input type="submit" value="Change Password" class="btn btn-secondary">
</form>

{% endblock %}